<h5>All Books</h5>
<div *ngFor="let book of books ">
  <a style="color:black"><span class="badge badge-dark">{{book.isbn}}</span> -> {{ book.title }}</a>
</div>


<mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">
  
  <ng-container matColumnDef="isbn">
      <div *matHeaderCellDef>Isbn</div>
      <div *matCellDef="let book">{{book.isbn}}</div>
  </ng-container>

  <ng-container matColumnDef="title">
      <div *matHeaderCellDef>title</div>
      <div class="description-cell"
                *matCellDef="let book">{{book.title}}</div>
  </ng-container>

  <ng-container matColumnDef="authors">
      <div *matHeaderCellDef>authors</div>
      <div class="duration-cell"
                *matCellDef="let book">{{book.authors}}</div>
  </ng-container>
  

  <ng-container matColumnDef="available">
    <div *matHeaderCellDef>Available</div>
    <div class="duration-cell"
              *matCellDef="let book">{{book.available}}</div>
</ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>  
  <mat-row *matRowDef="let row; columns: displayedColumns" 
         (click)="onRowClicked(row)">
</mat-row>
</mat-table>