<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-progress-spinner *ngIf="isLoadingResults"></mat-progress-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      GitHub's API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>

  <div class="example-table-container">

    <mat-form-field class="filter-field">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <div class="nav-item">
      <button class="btn btn-light btn-sm" role="button" (click)="updateLoans()">Update</button>
    </div>

    <table mat-table class="mat-elevation-z8" [dataSource]="loans">

      <ng-container matColumnDef="borrower">
        <th mat-header-cell *matHeaderCellDef> borrower </th>
        <td mat-cell *matCellDef="let loan"> {{loan.borrower}} </td>
      </ng-container>


      <ng-container matColumnDef="book">
        <th mat-header-cell *matHeaderCellDef> book </th>
        <td mat-cell *matCellDef="let loan"> {{loan.book}} </td>
      </ng-container>

      <ng-container matColumnDef="date_out">
        <th mat-header-cell *matHeaderCellDef> date out </th>
        <td mat-cell *matCellDef="let loan"> {{loan.date_out}} </td>
      </ng-container>

      <ng-container matColumnDef="due_date">
        <th mat-header-cell *matHeaderCellDef> due date </th>
        <td mat-cell *matCellDef="let loan"> {{loan.due_date}} </td>
      </ng-container>

      <ng-container matColumnDef="date_in">
        <th mat-header-cell *matHeaderCellDef> date in </th>
        <td mat-cell *matCellDef="let loan"> {{loan.date_in}} </td>
      </ng-container>

      <ng-container matColumnDef="fine">
        <th mat-header-cell *matHeaderCellDef> fine amount </th>
        <td mat-cell *matCellDef="let loan"> {{loan.fine}} </td>
      </ng-container>

      <ng-container matColumnDef="paid">
        <th mat-header-cell *matHeaderCellDef> paid </th>
        <td mat-cell *matCellDef="let loan"> {{loan.paid}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> actions </th>
        <td mat-cell *matCellDef="let loan">
          <button md-raised-button (click)="checkIn(loan)">check in</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
</div>