<h3>Add Borrower</h3>
<div [hidden]="submitted">
  <form #addBorrowerForm="ngForm">

    <div class="form-group">
      <label for="fname">First Name</label>
      <input type="text" class="form-control" id="fname" placeholder="Give Borrower's FirstName" required
        [(ngModel)]="borrower.fname" name="fname" #fname="ngModel">
      <div [hidden]="fname.valid || fname.pristine" class="alert alert-danger">
        First Name is required
      </div>
    </div>

    <div class="form-group">
      <label for="lname">Last Name</label>
      <input type="text" class="form-control" id="lname" placeholder="Give Borrower's LastName" required
        [(ngModel)]="borrower.lname" name="lname" #lname="ngModel">
      <div [hidden]="lname.valid || lname.pristine" class="alert alert-danger">
        Last Name is required
      </div>
    </div>

    <div class="form-group">
      <label for="ssn">Ssn</label>
      <input type="text" class="form-control" id="ssn" placeholder="Give Borrower's Ssn" required
        [(ngModel)]="borrower.ssn" name="ssn" #ssn="ngModel">
      <div [hidden]="ssn.valid || ssn.pristine" class="alert alert-danger">
        Last Name is required
      </div>
    </div>

    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" placeholder="Give Borrower's Address" required
        [(ngModel)]="borrower.address" name="address" #address="ngModel">
      <div [hidden]="address.valid || address.pristine" class="alert alert-danger">
        Last Name is required
      </div>
    </div>

    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-dark" (click)="goBack()">Back</button>
      <button type="button" class="btn btn-dark" (click)="addBorrower()"
        [disabled]="!addBorrowerForm.form.valid">Add</button>
    </div>
  </form>
</div>

<div [hidden]="!submitted">
  <p>{{message}} -> <span class="badge badge-light">{{borrower.fname}} {{borrower.lname}}</span></p>
  <div class="btn-group btn-group-sm">
    <button type="button" class="btn btn-dark" (click)="goBack()">Back</button>
    <button type="button" class="btn btn-dark" (click)="newBorrower(); addBorrowerForm.reset()">Continue</button>
  </div>
</div>